<div class="container">
  <div class="item">
    <div class="title">1번 제목
      <input type="button" class="start" id="startbtn1" value="Start">
      <input type="button" class="stop" id="stopbtn1" value="Stop" style="padding-left:10px;">
      </div>
    <textarea name="content" class="txt" style="margin-right: 5px">text area</textarea>
    <textarea name="content" class="txt" style="margin-left: 5px;">text area</textarea>
    <input type="number" class="x" id="x1" min="1" max="183" placeholder="X :">
    <input type="number" class="y" id="y1" min="1" max="183" placeholder="Y :">
    <input type="number" class="w" id="w1" min="2" max="99" placeholder="W :">
    <input type="number" class="h" id="h1" min="2" max="99" placeholder="H :">
    <input type="button" class="apply" id="applybtn1" value="Apply">
  </div>
  
  <div class="item">
    <div class="title">2번 제목
      <input type="button" class="start" id="startbtn2" value="Start">
      <input type="button" class="stop" id="stopbtn2" value="Stop">
    </div>
    <textarea name="content" class="txt">text area</textarea>
    <input type="number" class="x" id="x2" min="1" max="19" placeholder="X :">
    <input type="number" class="y" id="y2" min="1" max="19" placeholder="Y :">
    <input type="number" class="w" id="w2" min="2" max="12" placeholder="W :">
    <input type="number" class="h" id="h2" min="2" max="12" placeholder="H :">
    <input type="button" class="apply" id="applybtn2" value="Apply">
  </div>
  
  <div class="item">
    <div class="title">3번 제목
      <input type="button" class="start" id="startbtn3" value="Start">
      <input type="button" class="stop" id="stopbtn3" value="Stop">
    </div>
    <div class="txts">
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area1</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area1</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area2</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area2</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area3</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area3</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area4</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area4</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area5</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area5</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area6</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area6</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area7</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area7</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area8</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area8</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area9</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area9</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area10</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area10</textarea>
      </div>
    </div>
    <input type="number" class="x" id="x3" min="1" max="19" placeholder="X :">
    <input type="number" class="y" id="y3" min="1" max="19" placeholder="Y :">
    <input type="number" class="w" id="w3" min="2" max="12" placeholder="W :">
    <input type="number" class="h" id="h3" min="2" max="12" placeholder="H :">
    <input type="button" class="apply" id="applybtn3" value="Apply">
  </div>
  
  <div class="item">
    <div class="title">4번 제목
      <input type="button" class="start" id="startbtn4" value="Start">
      <input type="button" class="stop" id="stopbtn4" value="Stop">
    </div>
    <div class="txts">
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area1</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area1</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area2</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area2</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area3</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area3</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area4</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area4</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area5</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area5</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area6</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area6</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area7</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area7</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area8</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area8</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area9</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area9</textarea>
      </div>
      <div style="display:flex">
        <textarea name="content" class="txt2" style="margin-right: 5px">text area10</textarea>
        <textarea name="content" class="txt3" style="margin-bottom: 5px">text area10</textarea>
      </div>
    </div>
    <input type="number" class="x" id="x4" min="1" max="19" placeholder="X :">
    <input type="number" class="y" id="y4" min="1" max="19" placeholder="Y :">
    <input type="number" class="w" id="w4" min="2" max="12" placeholder="W :">
    <input type="number" class="h" id="h4" min="2" max="12" placeholder="H :">
    <input type="button" class="apply" id="applybtn4" value="Apply">
  </div>
  
  <div class="item">
    <div class="title">5번 제목
      <input type="button" class="start" id="startbtn5" value="Start">
      <input type="button" class="stop" id="stopbtn5" value="Stop">
    </div>
    <textarea name="content" class="txt">text area</textarea>
    <input type="number" class="x" id="x5" min="1" max="19" placeholder="X :">
    <input type="number" class="y" id="y5" min="1" max="19" placeholder="Y :">
    <input type="number" class="w" id="w5" min="2" max="12" placeholder="W :">
    <input type="number" class="h" id="h5" min="2" max="12" placeholder="H :">
    <input type="button" class="apply" id="applybtn5" value="Apply">
  </div>
</div>