body {
  //padding: 50px;
  background-color: #F1F5F9;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 3px 5px grey;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    z-index: -1;
    background-color: #242426;
  }
}

//제목
.title {
  width: calc(100% - 15px);
  height: 30px;
  background-color: #666679;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 5px;
  font-size: 15px;
  padding: 8px 15px;
  color: white;
}

//start 버튼
.start {
  background-color: #99FFAA;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  position: absolute;
  right: 75px;
  top: 5px;
}

//stop 버튼
.stop {
  background-color: #CC6666;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  position: absolute;
  right: 15px;
  top: 5px;
}

//textarea
.txt {
  width: 100%;
  height: calc(100% - 50px);
  resize: none;
  color: #AABFCC;
  background-color: #242426;
}

.txt2 {
  width: 100px;
  height: 20px;
  resize: none;
  color: #AABFCC;
  background-color: #242426;
}

.txt3 {
  width: 100%;
  height: 20px;
  resize: none;
  color: #AABFCC;
  background-color: #242426;
}

.txts {
  width: calc(100% - 40px);
  position: absolute;
  top: 44px;
  left: 20px;
}
//위치값 x
.x {
  width: 40px;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

//위치값 y
.y {
  width: 40px;
  position: absolute;
  bottom: 15px;
  left: 70px;
}

//크기값 w : 가로
.w {
  width: 40px;
  position: absolute;
  bottom: 15px;
  left: 130px;
}

//크기값 h : 세로
.h {
  width: 40px;
  position: absolute;
  bottom: 15px;
  left: 180px;
}

//stop 버튼
.apply {
  background-color: #EEEEEE;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  position: absolute;
  left: 240px;
  bottom: 15px;
}

///////////////////////////////////////////////////////////

//화면크기 1600px 이하일때
@media (max-width: 1600px) {
  .container{
    display: grid;
    grid-template-columns: repeat(183, 10px);
    grid-template-rows: repeat(170, 10px);
    }
    .item:nth-child(1) {
      grid-column: 1/150;
      grid-row: 1/40;
    }
    .item:nth-child(2) {
      grid-column: 1/80;
      grid-row: 120/170;
    }
    .item:nth-child(3) {
      grid-column: 1/90;
      grid-row: 40/120;
    }
    .item:nth-child(4) {
      grid-column: 90/150;
      grid-row: 40/120;
    }
    .item:nth-child(5) {
      grid-column: 80/150;
      grid-row: 120/170;
    }
}

//화면크기 1600px 이상일때
@media (min-width: 1600px) {
  .container{
    display: grid;
    grid-template-columns: repeat(183, 10px);
    grid-template-rows: repeat(98, 10px);
    }
    .item:nth-child(1) {
      grid-column: 1/150;
      grid-row: 1/40;
    }
    .item:nth-child(2) {
      grid-column: 150/183;
      grid-row: 1/70;
    }
    .item:nth-child(3) {
      grid-column: 1/90;
      grid-row: 40/120;
    }
    .item:nth-child(4) {
      grid-column: 90/150;
      grid-row: 40/120;
    }
    .item:nth-child(5) {
      grid-column: 150/183;
      grid-row: 70/120;
    }
}