<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tain.mybatis.mappers.CustProdMapper">

	<select id="selectAll" parameterType="CamelMap" resultType="CamelMap">
		select
			id
			, cust_code
			, prod_code
			, prod_count
		from
			tb_cust_prod
		where 1=1
	</select>

	<select id="selectJoin1" parameterType="CamelMap" resultType="CamelMap">
		select
			b.code         as cust_code
			, b.name       as cust_name
			, c.code       as prod_code
			, c.name       as prod_name
			, c.price      as prod_price
			, a.prod_count as prod_count
		from
			tb_cust_prod   as a
			, tb_cust      as b
			, tb_prod      as c
		where 1=1
			and b.code = a.cust_code
			and c.code = a.prod_code
	</select>

	<select id="selectJoin2" parameterType="CamelMap" resultType="CamelMap">
		select
			a.code         as cust_code
			, a.name       as cust_name
			, c.code       as prod_code
			, c.name       as prod_name
			, c.price      as prod_price
			, b.prod_count as prod_count
		from
			tb_cust          as a
			, tb_cust_prod   as b
			, tb_prod        as c
		where 1=1
			and b.cust_code = a.code
			and c.code = b.prod_code
	</select>
	
</mapper>