<!doctype html>
<html>
<head>
	<title>WebSocket First</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<!-- ################################################################################### -->
<div id="d01">
	<div class="row">
		<form>
			<input type="text" id="textWsUri" size="50" value='ws://localhost:8093/v0.1/wsBrw'>
			<input type="text" id="textMessage">
			<input type="button" value="Send" onclick="sendMessage()">
			<input type="button" value="Disconnect" onclick="disconnect()">
		</form>
	</div>
	<div class="row">
		<textarea rows="10" cols="80" id="messageTextArea"></textarea>
	</div>
	<script>
	var wsUri = document.getElementById("textWsUri").value;
	var messageTextArea = document.getElementById("messageTextArea");
	
	var webSocket = new WebSocket(wsUri);
	webSocket.onopen = function(message) {
		messageTextArea.value += "* Server connect...\n";
		var jsonData = JSON.stringify({
			msgKey: "BRW001",
			msgType: "REQ",
			cmdCode: "SVR0400"
		});
		sendMessage(jsonData);
	};
	webSocket.onclose = function(message) {
		messageTextArea.value += "* Server Disconnect...\n";
	};
	webSocket.onerror = function(message) {
		messageTextArea.value += "* error...\n";
	};
	webSocket.onmessage = function(message) {
		//var result = JSON.parse(message.data);
		//messageTextArea.value = result.cmdResult;
		console.log(">>>>> 1. message.data: ", message.data);
		var objData = JSON.parse(message.data);
		console.log(">>>>> 2. objData.msgKey: ", objData.msgKey);
		switch (objData.msgKey) {
		case 'BRW001':
			$("#messageTextArea").val(JSON.stringify(objData, null, 2));
			break;
		default:
			break;
		}
	};
	
	function sendMessage() {
		var textMessage = document.getElementById("textMessage");
		messageTextArea.value += "* Send to Server => " + textMessage.value + "\n";
		webSocket.send(textMessage.value);
		textMessage.value = "";
	}
	function sendMessage(jsonData) {
		webSocket.send(jsonData);
	}
	function disconnect() {
		webSocket.close();
	}
	</script>
</div>

</body>
</html>